body {}

img {
    width: 100% !important;
    height: 90% !important;
    border-radius: 10px;
}

.chat {
    box-shadow: 0px 0px 10px grey;
    border-radius: 10px;
    width: 50%;
    height: 100%;
}

.main {
    height: 500px;
    padding: 3%;
    /* background: url('./bg.jpg') no-repeat; */
    overflow-y: auto !important;
    overflow-x: hidden !important;
    background-size: 100%;
    background-position: center !important;
    opacity: .7;
}

.main::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: white;
}

.main::-webkit-scrollbar-thumb {
    background-color: rgb(67, 67, 247);
    border-radius: 10px;
}

.btn.btn-primary i {
    height: 25px !important;
}

.btn.btn-primary:active {
    font-size: 20px;
}

.input-group #inputChat {
    border-radius: 20px 0px 20px 20px !important;
}

.form-control {
    width: 90%;
    margin-right: 0;
}

.input-group form {
    width: 100%;
    display: flex;
    height: 50px;
}

button[type="submit"] {
    display: flex;
    align-items: center;
}

#inputChat:focus {
    box-shadow: none;
}

.request {
    background-color: rgb(120, 242, 118);
    margin-left: auto !important;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 3px 3px 5px grey;
}

.response {
    background-color: rgb(184, 184, 184);
    margin-right: auto !important;
    border-radius: 0px 10px 10px 10px;
    box-shadow: -3px 3px 5px grey;
}

.response,
.request {
    width: fit-content;
    max-width: 75%;
    padding: 8px;
    margin-top: 20px;
    font-size: 18px !important;
}